<html>
<head>
<title>Workbook von Alex Scherer</title>
<link rel="stylesheet" type="text/css" href="./css/style.css" />
<script type="text/javascript" src="js/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/Lane_400.font.js"></script>
<script type="text/javascript" src="syntaxhighlighter/scripts/shCore.js"></script>
<script type="text/javascript" src="syntaxhighlighter/scripts/shBrushJScript.js"></script>
<script type="text/javascript" src="syntaxhighlighter/scripts/shBrushPhp.js"></script>
<link type="text/css" rel="stylesheet" href="syntaxhighlighter/styles/shCoreDefault.css"/>
<script type="text/javascript">
SyntaxHighlighter.all();
Cufon.replace("#footer", {
	color: '-linear-gradient(#515151, #111111',
	fontFamily: 'Lane',
	textShadow: '2px 2px rgba(180, 180, 180, 0.4)'
});
Cufon.replace('#header h1', {
	color: '-linear-gradient(#cacaca, #a1a1a1)',
	fontFamily: 'Lane',
	textShadow: '2px 2px rgba(0, 0, 0, 0.1)'
});
Cufon.replace('#menu .item', {
	color: '-linear-gradient(#121212, #545454)',
	fontFamily: 'Lane'
});

</script>
<body>
<div id="wrapper">
<div id="header">
<h1>&lt;workbook&gt;Alex Scherer&lt;/workbook&gt;</h1>
</div>
<div id="menu"><a href="index.html"><div class="item">Home</div></a><div class="item">Workbook</div><div class="item">Downloads</div></div>
<div id="content">
<div class="text">


<pre class="brush: php;">
phpinfo(); //Prints out PHP information.
$i = 28;
$string = "";
while($i<42)
{
	$string .= "Hello World";
}

echo $string;
</pre>


Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 

Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 

Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. 

Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. 

Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. 

</div>
</div>
<div id="footer">
<span id="copy">Copyright &copy; 2011 by Alex Scherer, AlexScherer.ch</span>
</div>
</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
